.affix {
    display: none !important;
}

.sidebar {
    list-style: none;
    margin-left: 0;
}

.sidebar li {
    margin: 10px 0;
}


#sidemenu {
	margin-top: 2em;
}

[data-magellan-expedition], 
[data-magellan-expedition-clone] {
	background-color: #F2f2f2;
}

.magellan-scrollnav {
  width: 25%;
}
.magellan-scrollnav [data-magellan-expedition], .magellan-scrollnav [data-magellan-expedition-clone] {
  width: 250px;
  min-width: 0;
}



/*
@media only screen and (max-width: 100%) {

} */
=======
@media screen and (max-width: 100%){
 ul.sub-nav [data-magellan-expedition]{
 	display: none;
}

>>>>>>> parent of d3bb9c2... Removed attempts to fixed sidebar
=======
@media screen and (max-width: 100%){
 ul.sub-nav [data-magellan-expedition]{
 	display: none;
}

>>>>>>> parent of d3bb9c2... Removed attempts to fixed sidebar