.affix {
    display: none !important;
}

.sidebar {
    list-style: none;
    margin-left: 0;
}

.sidebar li {
    margin: 10px 0;
}


#sidemenu {
	margin-top: 2em;
}

[data-magellan-expedition], 
[data-magellan-expedition-clone] {
	background-color: #F2f2f2;
}

@media screen and (max-width: 100%){
 ul.sub-nav [data-magellan-expedition]{
 	display: none;
}

